* {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
  }
  
  body{
      height: 100vh;
      width: 100vw;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.6fr 3fr;
    grid-template-areas:
      "header header"
      "sidebar content";
      height: 100%;
      width: 100%;
  }

  .header{
      grid-area: header;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 'title title addProject addTask sort';
      border-bottom: 1px solid #d2defa;
      background-color: #d2defa;
     
  }

  .sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    font-family: "League Gothic", sans-serif;
    font-size: 24px;  
    border-right: 1px solid #d2defa;
    background-color: #d2defa;

  }

  .content{
      grid-area: content;
      padding-left: 50px;
      padding-right: 5px;
      padding-top: 25px;
      background-color: white;
  }
  
  .item{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-bottom: 1px solid #d2defa ;
  }

  .title{
      grid-area: title;
      font-size: 56px;
    display: flex;
    justify-self: center;
    align-items: center;
  }

  .sort{
      grid-area: sort;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-right: 15px;
  }

  .addTask{
      grid-area: addTask;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }


  .addProject{
      grid-area: addProject;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }


  table td{
     
      font-size: 20px;
      padding: 20px;
      text-align: start;
  }

  table th{
      text-align: start;
      padding: 20px;
      font-size: 32px;

    }

    /* .content{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, min-content);
        width: 100%;
    } */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      .task-modal-content, .edit-modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #d2defa;
        width: 60%;
      }
    
      .task-modal-content > form,
      .edit-modal-content > form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        justify-items: start;
        gap: 10px;
      }

      .project-modal-content > form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
      }

      .submit-proj{
        justify-items: start;
      }


      .project-modal-content{
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #d2defa;
        width: 50%;
      }

      .sort-modal-content{
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #888;
        width: 80%;
      }
      #task-table{
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          border-collapse: collapse;
          background-color: white;
      }

      .del-btn, .edit-btn, .comp-btn
      {
        margin-right: 10px;
        margin-left: 10px;
        padding: 15px;
      }
      .del-btn, .edit-btn, .comp-btn ,
      button{
        background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

      }

      .sort,
      .addProject,
      .addTask{
        margin-bottom: 5px;
      }

      #task-table-body td , th {
        
        border-bottom: 1px solid #d2defa;
        
      }


    #sortType{
      margin-left: 5px;
      border-radius: 5px;
    }

    .task-item.complete{

      color: rgba(0,0,0,0.4);
      text-decoration: line-through;
      text-decoration-color: black;
     
    }

    #newProject, #newTaskBtn{
      font-size: 24px;
    }


    .sort{
      font-size: 18px;
    }